.welcome-single-slide .post-date-commnents a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.welcome-single-slide .post-date-commnents a:hover {
  color: rgba(255, 255, 255, 0.9);
}


.welcome-single-slide .post-date-commnents a:first-child {
  margin-right: 30px;
}

.welcome-single-slide .post-date-commnents a:first-child:after {
  width: 2px;
  height: 80%;
  content: '';
  position: absolute;
  top: 10%;
  right: -14px;
  z-index: 2;
  background-color: #fff;
}


.welcome-post-sliders {
  position: relative;
  z-index: 1;
}


.post-thumb img {
  border-radius: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 560px;
}
a{
  text-decoration: none;
}
.post-meta {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  font-weight: 500;
  outline: none;
}
.post-author a,
.post-date a,
.post-favourite a,
.post-comments a,
.post-share a {
  color: #b5aec4;
  font-size: 14px;
}

.post-author a:hover,
.post-date a:hover,
.post-favourite a:hover,
.post-comments a:hover,
.post-share a:hover {
  color: #000;
}

.post-favourite a,
.post-comments a {
  margin-right: 15px;
}

.post-author a {
  margin-right: 25px;
  position: relative;
  z-index: 1;
}

.post-author a:after {
  width: 2px;
  height: 60%;
  content: '';
  position: absolute;
  top: 20%;
  right: -14px;
  z-index: 2;
  background-color: #b5aec4;
}
.post-author{
  display: flex;
  align-items: center;
}
.single-post {
  margin-bottom: 30px;
}

.single-post h2,
.single-post h3,
.single-post h4 {
  margin: 10px 0;
  color: #232d37;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
}

.single-post h2:hover,
.single-post h3:hover,
.single-post h4:hover {
  color: #fc6c3f;
}

.single-post p {
  color: #51545f;
}

.single-post .read-more {
  font-size: 12px;
  color: #b5aeba;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  height: 40px;
  min-width: 170px;
  line-height: 40px;
  text-align: center;
}


.single-post .read-more:hover {
  color: #000;
  border: 1px solid #000;
}

/* List Blog Area CSS */

.list-blog.single-post .post-thumb,
.list-blog.single-post .post-content {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-right: 15px;
}

.list-blog.single-post .post-content {
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 30px;
}

.list-blog.single-post {
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.blog_area .col-12:last-of-type .list-blog.single-post {
  margin-bottom: 0;
  border-bottom: none;
}

.blog_area .col-12:last-of-type .list-blog.single-post .post-thumb img {
  margin-bottom: 0;
}


.popular-post-widget .single-populer-post img {
  margin-right: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
  -ms-flex-item-align: center;
  align-self: center;
}
.widget-title > h6 {
  background: #fee2d9;
  height: 40px;
  width: 100%;
  line-height: 40px;
  border-radius: 2px;
  margin-bottom: 30px;
}
.widget-title > h3 {
  margin-top:15px ;
  background: #fee2d9;
  height: 40px;
  width: 100%;
  line-height: 48px;
  border-radius: 2px;
  margin-bottom: 30px;
}
.popular-post-widget .single-populer-post:last-of-type img {
  margin-bottom: 0;
}

.popular-post-widget .single-populer-post img {
  width: calc(50% - 10px);
}

.popular-post-widget .single-populer-post img,
.popular-post-widget .single-populer-post .post-content {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.popular-post-widget .single-populer-post .post-content {
  margin-left: 10px;
}

.popular-post-widget .single-populer-post .post-content > p {
  font-size: 14px;
  color: #b5aec4;
  font-weight: 400;
  margin-bottom: 0;
}
.mat-icon{
  font-size: 20px;
}

.popular-post-widget .single-populer-post img {
  margin-right: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
  -ms-flex-item-align: center;
  align-self: center;
}

.popular-post-widget .single-populer-post:last-of-type img {
  margin-bottom: 0;
}

.popular-post-widget .single-populer-post img {
  width: calc(50% - 10px);
}

.popular-post-widget .single-populer-post img,
.popular-post-widget .single-populer-post .post-content {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.popular-post-widget .single-populer-post .post-content {
  margin-left: 10px;
}

.popular-post-widget .single-populer-post .post-content > p {
  font-size: 14px;
  color: #b5aec4;
  font-weight: 400;
  margin-bottom: 0;
}

.newsletter-widget p {
  font-size: 14px;
}

.newsletter-form {
  position: relative;
  z-index: 1;
}
.single-widget-area {
  margin-bottom: 50px;
}
.newsletter-form input {
  width: 100%;
  height: 40px;
  background-color: #f5f5f8;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  padding: 0 20px;
  font-size: 14px;
  color: #b5aec4;
}

.newsletter-form button {
  width: 40px;
  height: 40px;
  background-color: #fc6c3f;
  border: none;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  cursor: pointer;
}
.content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
