
.post-thumb img {
  border-radius: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 560px;
}
a{
  text-decoration: none;
}
.post-meta {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post-author a,
.post-date a,
.post-favourite a,
.post-comments a,
.post-share a {
  color: #b5aec4;
  font-size: 14px;
}

.post-author a:hover,
.post-date a:hover,
.post-favourite a:hover,
.post-comments a:hover,
.post-share a:hover {
  color: #000;
}

.post-favourite a,
.post-comments a {
  margin-right: 15px;
}

.post-author a {
  margin-right: 25px;
  position: relative;
  z-index: 1;
}

.post-author a:after {
  width: 2px;
  height: 60%;
  content: '';
  position: absolute;
  top: 20%;
  right: -14px;
  z-index: 2;
  background-color: #b5aec4;
}

.single-post {
  margin-bottom: 30px;
}

.single-post h2,
.single-post h3,
.single-post h4 {
  margin: 10px 0;
  color: #232d37;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
}

.single-post h2:hover,
.single-post h3:hover,
.single-post h4:hover {
  color: #fc6c3f;
}

.single-post p {
  color: #51545f;
}

.single-post .read-more {
  font-size: 12px;
  color: #b5aeba;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  height: 40px;
  min-width: 170px;
  line-height: 40px;
  text-align: center;
}


.single-post .read-more:hover {
  color: #000;
  border: 1px solid #000;
}

/* List Blog Area CSS */

.list-blog.single-post .post-thumb,
.list-blog.single-post .post-content {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-right: 15px;
}

.list-blog.single-post .post-content {
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 30px;
}

.list-blog.single-post {
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.blog_area .col-12:last-of-type .list-blog.single-post {
  margin-bottom: 0;
  border-bottom: none;
}

.blog_area .col-12:last-of-type .list-blog.single-post .post-thumb img {
  margin-bottom: 0;
}

.popular-post-widget .single-populer-post img,
.popular-post-widget .single-populer-post .post-content {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.popular-post-widget .single-populer-post .post-content {
  margin-left: 10px;
}

.popular-post-widget .single-populer-post .post-content > p {
  font-size: 14px;
  color: #b5aec4;
  font-weight: 400;
  margin-bottom: 0;
}
